<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static' ,filename='styles/style.css')}}">

    {%block head%} {% endblock %}
</head>
<body>
    <div class="content">
        <div class="text-center adding">
            <h1>Add to list</h1>
            <div style="width:50%" class="center">
                <input id='tNme' type="text" placeholder="Task Name">
                <input id='tCnt' type="text" placeholder="Task Description">
                <a id='addTask' href="#" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>            
        </div>
        <hr>
        {%block body%} {% endblock %}
    </div>
    <script src="{{ url_for('static' ,filename='scripts/script.js')}}"></script>

</body>
</html>