{%extends 'base.html' %}
{%block head%} 
    <title>
        TODO list
    </title>   
{% endblock %}
{%block body%}
    <div class="text-center">
        <h1>
            TODO List
        </h1> 
        <ul id='todoList' class="todo">
            {%for task in data%}
<!-- {{task}} -->
                <li data-task_id="{{task.id}}" class="{{ loop.cycle('odd', 'even') }}">
                    <!-- <div class="font-weight-bold">{{loop.index}}</div> -->
                    <div class='li-container'>
                        <div class="task-id text-left">
                            ID: {{task.id}}
                        </div>
                        <div class="task-name font-weight-bold">
                            {{task.name}}
                        </div>

                        <div class="task-desc">
                            {{task.content}}
                        </div>

                        <div class="task-prog">Overall Progress: {{task.prog}}%
                            <span data-prog="{{task.prog}}%"></span>
                        </div>  
                    </div>                    
                    <div id='btnEdit_{{task.id}}' class="btn btn-edit">&checkmark;</div>
                    <div id='btnDelete_{{task.id}}' class="btn btn-delete">&cross;</div>
                </li>
            {%endfor%}
        </ul>        
    </div>

{% endblock %}
